


@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap');

body{
    font-family: 'Signika Negative', sans-serif;
    overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


.video {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
 
}

.video:hover {
  background-color: #f5f5f5;
}
.header {
  /* margin: 0 15%; */
  background-color: rgb(238, 251, 243);
}
.top-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: rgb(4, 50, 59);
}
.top-header h3 {
  color: rgb(195, 194, 194);
}
.top-header .social > i {
  color: rgb(195, 194, 194);
  padding-left: 10px;
  cursor: pointer;
}
.top-header .social > i:hover {
  color: brown;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

section {
  padding: 18px 15%;
}
main {
  padding: 10px 5%;
}
.menu {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
.menu .left {
  display: flex;
  align-items: center;
}
.logo > h3 {
  text-transform: capitalize;
}
.menu .left ul {
  display: flex;
  margin-left: 60px;
}
.menu .left ul li {
  margin-left: 10px;
  font-size: 20px;
  text-transform: capitalize;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
}
.regitration {
  display: flex;
}
.regitration .allbtn button {
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid rgb(176, 205, 176);
  font-size: 16px;
  cursor: pointer;
}
.regitration .allbtn button:hover {
  background-color: rgb(48, 146, 85);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.content {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  /* align-items: center; */
}
.right-content {
  max-width: 300px;
  align-items: end;
  width: 100%;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.right-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: rgba( 113, 255, 134, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.left-content {
  margin-right: 10px;
  margin-top: 70px;
}
.left-content > h4 {
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 25px;
}
.left-content > p {
  font-size: 35px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 20px;
}
.left-content > h5 {
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 25px;
}
.coursebtn > button {
  padding: 20px 35px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgb(48, 146, 85);
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
}

/* popuiral courses */

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

footer > p {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

/* courses */

.coursesdetail {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 17px;
  box-shadow: 0px 3px 8px 2px rgba(122,122,122,0.75);
  -webkit-box-shadow: 0px 3px 8px 2px rgba(122,122,122,0.75);
  -moz-box-shadow: 0px 3px 8px 2px rgba(122,122,122,0.75);
  padding: 10px;
}
.left-Description .image-container {
  position: relative;
}
.left-Description .image-container img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.title{
  display: flex;
 
}
.title >i{
  margin-right: 10px;
  font-size: 30px;
  color: aqua;
 
}
.title .description{
  margin-left: 10px;
}
.titleplay{
  padding: 10px 5px;
  font-size: 20px;
}
.right-description .card {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  max-height: 600px;
  overflow-y: scroll;
  box-shadow: 0px 0px 8px -1px rgba(79,79,79,0.75);
  -webkit-box-shadow: 0px 0px 8px -1px rgba(79,79,79,0.75);
  -moz-box-shadow: 0px 0px 8px -1px rgba(79,79,79,0.75);
}
.image{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.image img{
    width: 150px;
}

.account{
  background-color: #007bff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

.account-info{
  /* max-width: 300px; */
  width: 200px;
background-color: #f8fffc;
padding: 10px;
position: absolute;
right: 60px;
top: 50%;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;

  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
  -webkit-animation-duration: .4s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 100;


}
@-webkit-keyframes rotateInDownRight {
  0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }
  @keyframes rotateInDownRight {
  0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }
h5{
  color: rgb(5, 143, 136);
  margin-left: 10px;
}
h4,h5{
  /* background-color: #ccc; */
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;

}

.hide{
  display: none;
}


.bars {
  display: none;
}
.bars i {
  font-size: 25px;
  color: rgb(5, 143, 136);
}

/* media quey navbar */

@media only screen and (max-width: 1299px) {
  section {
    padding: 18px 10%;
  }
}

@media only screen and (max-width: 973px) {
  section {
    padding: 18px 3%;
  }
}

@media only screen and (max-width: 822px) {

  .menu .left ul li a{

    width: 100%;
    height: 100%;
  }
  .left {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 224, 221);
    padding: 10px;
    height: fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    right: 0;
    z-index: 1000;
  top: 100%;
  visibility: hidden;
  }

  .left.open {
    visibility: visible;
  }
  .menu {
    border: 0;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
 
}
  .logo {
    display: flex;

    /* height: 60px; */
    align-items: center;
  }
  .menu .left ul {
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    margin-bottom: 10px;
  }
  .menu .left ul li {
    margin-left: 0px;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    background-color: rgb(245, 241, 241);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .menu .left ul li:hover {
    background-color: rgb(237, 230, 230);
    cursor: pointer;
  }

  .bars{
    display: block;
}
}



@media only screen and (max-width: 622px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .right-content {
    max-width: 100%;
  
  }
}

@media only screen and (max-width: 874px) {
  .coursesdetail {
    display: grid;
    grid-template-columns: 2fr;
    gap: 17px;
  }
}