

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap');

body{
    font-family: 'Signika Negative', sans-serif;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header{
 
    /* margin: 0 15%; */
    background-color: rgb(238,251,243);

}
.top-header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: rgb(4, 50, 59);
}
.top-header h3{
    color: rgb(195, 194, 194);
}
.top-header .social>i{
    color: rgb(195, 194, 194);
    padding-left: 10px;
    cursor: pointer;
}
.top-header .social>i:hover{
   color: brown;
   transition: .2s ease;
   -webkit-transition: .2s ease;
   -moz-transition: .2s ease;
   -ms-transition: .2s ease;
   -o-transition: .2s ease;
}

section{
    padding: 18px 20%;
}
.menu{
  position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;

}
.menu .left{
    display: flex;
    align-items: center;


}
.logo >h3{
    text-transform: capitalize;
}
.menu .left ul{
    display: flex;
    margin-left: 60px;
}
.menu .left ul li{
    margin-left: 10px;
    font-size: 20px;
    text-transform: capitalize;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
}
.regitration{
    display: flex;
 
}
.regitration .allbtn button{
 
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgb(176, 205, 176);
    font-size: 16px;
    cursor: pointer;
}
.regitration .allbtn button:hover{
    background-color:  rgb(48,146,85);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.content{
    display: flex;
    margin-top: 30px;
justify-content: space-between;
    /* align-items: center; */
   
}
.right-content{
    max-width: 300px;
    align-items: end;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.right-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: rgba( 113, 255, 134, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
 
}
.left-content{
    margin-right: 10px;
    margin-top: 70px;
}
.left-content> h4{
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(48,146,85);
    margin-bottom: 25px
}
.left-content> p{
    font-size: 35px;
    text-transform: capitalize;
    color: rgb(48,146,85);
    margin-bottom: 20px
}
.left-content>h5{
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(48,146,85);
    margin-bottom: 25px
}
.coursebtn>button{
    padding: 20px 35px;
    margin-left: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
   background-color: rgb(48,146,85);
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
}


/* popuiral courses */


  footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
  footer> p {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
  }


  /* regiistration form */

  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  .container {
  
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 11px;
    background: #e7eee8;
    box-shadow:  5px 5px 10px #c4cac5,
                 -5px -5px 10px #ffffff;
  }
  .container h2{
    padding: 18px 0;
  }
  .signUP {
    /* max-width: 500px; */
    width: 100%;
display: flex;
    padding: 10px;
    margin: 20px;

  }


  .signUP img{
    max-width: 400px;
    width: 100%;
    height: 400px;
    margin-right: 20px;
    object-fit: cover;
    background: #EEF0F4;
    border-radius: 5%;
    box-shadow: 7.21px 7.21px 15px #E4E6EA, -7.21px -7.21px 15px #F8FAFE;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
  form {
    padding: 20px;
    width: 100%;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 20px;
  }
  input {
    border-radius: 3px;
    border: none;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    margin-bottom: 19px;
    background: #EEF0F4;
    background: #EEF0F4;
    border-radius: 2%;
    box-shadow: inset 7.21px 7.21px 15px #D9DADE, inset -7.21px -7.21px 15px #FFFFFF;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}
  ::placeholder {
    font-size: 16px;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 20px;
  }
  span {
    color: rgb(194, 8, 8);
    cursor: pointer;
    font-weight: 600;
  }
  .submit {
    width: 100%;
    height: 60px;
    background-color: rgb(80, 235, 199);
    padding: 6px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

  .account{
    background-color: #007bff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

.account-info{
    /* max-width: 300px; */
    width: 200px;
  background-color: #f8fffc;
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 50%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight;
    -webkit-animation-duration: .4s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    z-index: 100;
 
}
@-webkit-keyframes rotateInDownRight {
    0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
    }
    100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
    }
    @keyframes rotateInDownRight {
    0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
    }
    100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
    }
h5{
    color: rgb(5, 143, 136);
    margin-left: 10px;
}
h4,h5{
    /* background-color: #ccc; */
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
 
}

.hide{
    display: none;
}
.bars {
  display: none;
}
.bars i {
  font-size: 25px;
  color: rgb(5, 143, 136);
}

/* media quey navbar */

@media only screen and (max-width: 1299px) {
  section {
    padding: 18px 10%;
  }
}

@media only screen and (max-width: 973px) {
  section {
    padding: 18px 3%;
  }
}

@media only screen and (max-width: 822px) {


  .left {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 224, 221);
    padding: 10px;
    height: fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    right: 0;
  top: 100%;
  z-index: 1000;
  visibility: hidden;
  }
  .menu .left ul li a{

    width: 100%;
    height: 100%;
  }
  .left.open {
    visibility: visible;
  }
  .menu {
    border: 0;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
 
}
  .logo {
    display: flex;

    /* height: 60px; */
    align-items: center;
  }
  .menu .left ul {
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    margin-bottom: 10px;
  }
  .menu .left ul li {
    margin-left: 0px;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    background-color: rgb(245, 241, 241);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .menu .left ul li:hover {
    background-color: rgb(237, 230, 230);
    cursor: pointer;
  }

  .bars{
    display: block;
}
}
@media only screen and (max-width: 622px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .right-content {
    max-width: 100%;
  
  }
}
@media only screen and (max-width: 748px) {

  .signUP {
    /* max-width: 500px; */
    width: 100%;
display: flex;
flex-direction: column;
    padding: 10px;
    margin: 20px;

  }
  .signUP img{
    max-width: 100%;
    width: 100%;
    height: 400px;
 margin-right: 20px;
    object-fit: cover;
  }
}
