@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap");

body {
  font-family: "Signika Negative", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.header {
  /* margin: 0 15%; */
  background-color: rgb(238, 251, 243);
}
.top-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: rgb(4, 50, 59);
}
.top-header h3 {
  color: rgb(195, 194, 194);
}
.top-header .social > i {
  color: rgb(195, 194, 194);
  padding-left: 10px;
  cursor: pointer;
}
.top-header .social > i:hover {
  color: brown;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

section {
  padding: 18px 20%;
}
.menu {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  position: relative;

}
.menu .left {
  display: flex;
  align-items: center;
}
.logo > h3 {
  text-transform: capitalize;
}
.menu .left ul {
  display: flex;
  margin-left: 60px;
}
.menu .left ul li {
  margin-left: 10px;
  font-size: 20px;
  text-transform: capitalize;
}
.menu .left ul li a{

  width: 100%;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
}
.regitration {
  display: flex;
}
.regitration .allbtn button {
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid rgb(176, 205, 176);
  font-size: 16px;
  cursor: pointer;
}
.regitration .allbtn button:hover {
  background-color: rgb(48, 146, 85);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.content {
  display: flex;
  margin-top: 30px;

  /* align-items: center; */
}
.right-content {
  max-width: 900px;
  align-items: end;
  width: 100%;
}
.right-content img {
  width: 100%;

}
.left-content {
  margin-right: 10px;
  margin-top: 70px;
}
.left-content > h4 {
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 35px;
}
.left-content > p {
  font-size: 35px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 40px;
}
.left-content > h5 {
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 25px;
}
.coursebtn > button {
  padding: 20px 35px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgb(48, 146, 85);
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  margin-top: 20px;
}

/* popuiral courses */

.ourpapular-course .headpopular h4 {
  font-size: 25px;
  margin-bottom: 20px;
}
.ourpapular-course .headpopular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.title h5 {
  color: #5d5d5d;
}
.view {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.view h6 {
  font-size: 16px;
  margin-right: 10px;
}
.view:hover {
  color: #058549;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}
.card {
  /*background-color: rgba(0, 255, 170, 0.796);
    */
  max-width: 250px;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid rgb(238, 240, 246);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card .icons > i {
  font-size: 45px;
  margin-right: 20px;
  color: rgb(0, 64, 255);
}

/* cards */
.cards-inform {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}
.card-info {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-right: 10px;
}

.enrollment-count {
  color: #007bff;
  font-weight: bold;
}

.completion-rate {
  color: #28a745;
  font-weight: bold;
}

.average-score {
  color: #6c757d;
  font-weight: bold;
}
.courseinfromation h4 {
  margin: 20px 0;
  font-size: 25px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

/* account */

.account {
  background-color: #007bff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

.account-info {
  /* max-width: 300px; */
  width: 200px;
  background-color: #f8fffc;
  padding: 10px;
  position: absolute;
  right: 60px;
  top: 50%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 100;
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
  -webkit-animation-duration: 0.4s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateInDownRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
h5 {
  color: rgb(5, 143, 136);
  margin-left: 10px;
}
h4,
h5 {
  /* background-color: #ccc; */
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.hide {
  display: none;
}


/* halkaan kiabilaw */

/* bars */
.bars {
  display: none;
}
.bars i {
  font-size: 25px;
  color: rgb(5, 143, 136);
}

/* media quey navbar */

@media only screen and (max-width: 1299px) {
  section {
    padding: 18px 10%;
  }
}

@media only screen and (max-width: 973px) {
  section {
    padding: 18px 3%;
  }
}

@media only screen and (max-width: 822px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .left {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 224, 221);
    padding: 10px;
    height: fit-content;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    right: 0;
  top: 100%;
  visibility: hidden;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
   /* right: -1000px; */
  }

  .left.open {
    visibility: visible;
  
  }
  .menu {
    border: 0;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
 
}
  .logo {
    display: flex;

    /* height: 60px; */
    align-items: center;
  }
  .menu .left ul {
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    margin-bottom: 10px;
  }
  .menu .left ul li {
    margin-left: 0px;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    background-color: rgb(245, 241, 241);
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .menu .left ul li:hover {
    background-color: rgb(237, 230, 230);
    cursor: pointer;
  }

  .bars{
    display: block;
}
}
